.contact-title {
    margin-top: 80px;
    color: white;
}

.mail-img {
    max-height: 300px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.contact-illustration { 
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
}

.mail {
    color: white;
    margin-right: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 1rem;
}

.contact-form input, 
.contact-form textarea,
.contact-form button  {
    margin: 0.3rem 0 1rem 0;
    padding: .3rem;
}

.contact-form button {
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.contact-form label {
    text-align: start;
    color: white;
}
.contact-form textarea {
    height: 6em;
    color: white;
}
.contact-form input {
    color: white;
}
.contact-form input, textarea {
    background-color: #222;
    border: none;
    border-radius: 5px;
    resize: none;
}
.contact-form ::placeholder {
    color: white;
}

.contact-form input:focus, textarea:focus {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
    .contact-form {
        max-width: 90%;
    }
}