.contact {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.contact-form input, 
.contact-form textarea,
.contact-form button  {
    margin: 0.3rem 0 1rem 0;
    padding: .3rem;
}

.contact-form button {
    font-size: 1.2rem;
}

.contact-form label {
    text-align: start;
    color: white;
}