
a {
    text-decoration: none;
    color: white;
}

.navContainer {
    position: fixed;
    top: 1rem;
    left: 40%;
    right: 0%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 4rem;
    padding-right: 4rem;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    z-index: 1;
    .navLink {
        background-color: #191A61;
        padding: 10px;
        margin: 10px;
        border-radius: 99px;
    }
}

@media (max-width: 768px) {
    .navContainer {
        left: 2%;
        right: 0%;
    }
}